<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>501758429254-njbsbd2p57nshjsl7sv5udh3njf4sc5b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVgBNr86_XNQLgj2157ssR7Ufbks2e8s0</string>
	<key>GCM_SENDER_ID</key>
	<string>501758429254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.negmtHeliopolis</string>
	<key>PROJECT_ID</key>
	<string>negmet-heliopolis</string>
	<key>STORAGE_BUCKET</key>
	<string>negmet-heliopolis.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501758429254:ios:3c62e1ce4da6a29cc7e247</string>
</dict>
</plist>